node_modules/
build/
reference_material/
exampleSite/public/
exampleSite/resources/
exampleSite/content/**/*.md
!exampleSite/content/_index.md
.hugo_build.lock

exampleSite/content/**/*.jpg
exampleSite/content/**/*.jpeg
exampleSite/content/**/*.png
exampleSite/content/**/*.gif
exampleSite/content/**/*.webp