{
    "plugins": [
        "prettier-plugin-toml"
    ],
    "endOfLine": "lf",
    "tabWidth": 4,
    "useTabs": false,
    "htmlWhitespaceSensitivity": "ignore",
    "overrides": [
        {
            "files": [
                "**/*.js",
                "**/*.jsx",
                "**/*.ts",
                "**/*.tsx"
            ],
            "options": {
                "parser": "babel",
                "arrowParens": "always",
                "bracketSpacing": false,
                "htmlWhitespaceSensitivity": "css",
                "insertPragma": false,
                "jsxBracketSameLine": false,
                "jsxSingleQuote": false,
                "quoteProps": "as-needed",
                "requirePragma": false,
                "semi": true,
                "singleQuote": false,
                "trailingComma": "es5",
                "embeddedLanguageFormatting": "auto",
                "vueIndentScriptAndStyle": false,
                "experimentalTernaries": false
            }
        },
        {
            "files": "**/*.toml",
            "options": {
                "parser": "toml",
                "alignEntries": true,
                "alignComments": true,
                "indentTables": true,
                "indentEntries": false,
                "indentString": "    ",
                "reorderKeys": true
            }
        },
        {
            "files": "**/*.html",
            "options": {
                "parser": ""
            }
        }
    ]
}